.h1{
    margin: 100px 50px 100px 270px;
}
.card{
    background-color: cornflowerblue;
}
#hi{
    background-color: cornsilk;
    color: black;
}
body{
    background-color: chocolate;

}
